{{if .IsOld}}
Hi {{.Firstname}},

It's 2131 and we're throwing our {{.Age}}{{.Suffixer}} birthday party!

Since it is your {{.Age}}{{.Suffixer}} birthday as well, we thought we'd
increase your account's (registered to {{.Email}}) cloud storage capacity
by 500TB,and throw in a fully automated, maintenance- and running cost free,
3 bedroom eco-house of your choice, anywhere in the off-world colonies!

Thank you for your custom
The Web Team
{{end}}